<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.6.2">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.rdl" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="*.ar14Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web, Culture=neutral, PublicKeyToken=cc4967777c49a3ff"/>
      <add verb="*" path="/api/reporting/*" type="System.Web.Handlers.ScriptModule" />
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <staticContent>
      <mimeMap fileExtension=".rdf" mimeType="application/octet-stream"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR_CompiledReportHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR_RpxHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.ar14Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR_WebCacheAccessHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.rdl" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR_RdlHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR_RdlxHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" path="/api/reporting/*" type="System.Web.Handlers.ScriptModule" name="nostaticfile" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
