<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Aspnet.Viewer" version="14.2.2666" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Web.Viewer" version="14.2.2666" targetFramework="net462" />
  <package id="Grapecity.DataVisualization" version="0.1.248" targetFramework="net462" />
  <package id="Gcef.Data.DataEngine" version="2.0.186" targetFramework="net462" />
  <package id="Gcef.Data.ExpressionInfo" version="2.0.186" targetFramework="net462" />
  <package id="Gcef.Data.VBFunctionLib" version="2.0.186" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports" version="14.2.20717" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Chart" version="14.2.20458" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Document" version="14.2.20717" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Excel" version="14.2.20717" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Html" version="14.2.20717" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Image" version="14.2.20717" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Pdf" version="14.2.20717" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Rdf" version="14.2.20717" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Word" version="14.2.20717" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Xml" version="14.2.20717" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.DataProviders" version="1.6.7" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gc" version="1.8.6" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gdi" version="1.8.6" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Excel.Page" version="1.8.6" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Html.Page" version="1.8.6" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Image.Page" version="1.8.6" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Pdf.Page" version="1.8.6" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Svg.Page" version="1.8.6" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Text.Page" version="1.8.6" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Export.Word.Page" version="1.8.6" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rdl" version="1.8.6" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rendering" version="1.8.6" targetFramework="net462" />
  <package id="GrapeCity.Documents.Common" version="3.2.0.550" targetFramework="net462" />
  <package id="GrapeCity.Documents.Common.Windows" version="3.2.0.550" targetFramework="net462" />
  <package id="GrapeCity.Documents.DX.Windows" version="3.2.0.550" targetFramework="net462" />
  <package id="GrapeCity.Documents.Imaging" version="3.2.0.550" targetFramework="net462" />
  <package id="GrapeCity.Documents.Pdf" version="3.2.0.550" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Diagnostics" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.0" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>